/* stylelint-disable max-line-length */

/*
 * Continental Tire uses the licensed Stag Sans typeface. For this
 * proof-of-concept the faces are referenced from the live site, which serves
 * them with `access-control-allow-origin: *`, so no font binary is
 * redistributed in this repo. A production build must license and self-host
 * the fonts. Arial/Helvetica are the fallback in the font stack.
 */

@font-face {
  font-family: 'Stag Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('https://continentaltire.com/themes/custom/nextcontinental/fonts/StagSans-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Stag Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://continentaltire.com/themes/custom/nextcontinental/fonts/StagSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Stag Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('https://continentaltire.com/themes/custom/nextcontinental/fonts/StagSans-BookItalic.woff') format('woff');
}

@font-face {
  font-family: 'Stag Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://continentaltire.com/themes/custom/nextcontinental/fonts/StagSans-Book.woff') format('woff');
}

@font-face {
  font-family: 'Stag Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://continentaltire.com/themes/custom/nextcontinental/fonts/StagSans-Book.woff') format('woff');
}
